

.login-pf body {
	background: url(../img/bg.svg) no-repeat center center fixed;
	background-size: cover;
}

.btn-primary {
	background-color: #41a045;
	background-image: linear-gradient(to bottom, #6cbf71 0%, #41a045 100%);
	border: none;
}

.btn-primary:hover {
	background-color: #3c9440;
	background-image: linear-gradient(to bottom, #64b169 0%, #3c9440 100%);
	border: none;
}

.btn[disabled] {
	background-color: #ddd !important;
}

a {
	color: #3c9440;
}

.login-pf a:hover {
	color: #3c9440;
}

.login-pf a:focus {
    color: #aaa;
	outline: none;
}

div.kc-logo-text {
	background-image: none;
}

div.kc-logo-text span {
	display: inline;
	color: #363636;
}

.form-control:focus {
	border-color: #78D47E;
	box-shadow: 0 0 10px rgba(123, 219, 130, 0.6);
}

.form-control:hover {
	border-color: #67b66c;
}

.btn:focus, .btn:active:focus {
	outline: none;
}


