

/* Navbar */

.back-link {
    color: #fff;
} 


/* Sidebar inactive link */

.bs-sidebar ul li a {
    color: #4d5258;
}

.bs-sidebar ul li a:hover, .bs-sidebar ul li a:focus {
    background-color: rgba(3, 3, 3, 0.04);
}



/* Sidebar active link */

.bs-sidebar ul li.active a {
    background-color: #c9ffc4;
    border-color: #03f100;
    background-image: none;
}

.bs-sidebar ul li.active a:hover {
    background-color: #b4ffad;
}




/* Main content */

.btn-primary {
    background-color: #41a045;
    background-image: linear-gradient(to bottom, #6cbf71 0%, #41a045 100%);
    border-color: #6cbf71;
}

.btn-primary:hover {
    background-color: #3c9440;
    background-image: linear-gradient(to bottom, #64b169 0%, #3c9440 100%);
    border-color: #64b169;
}


.btn[disabled] {
    background-color: #ddd !important;
}

a {
    color: #3c9440;
}

.form-control:focus {
    border-color: #78D47E;
    box-shadow: 0 0 10px rgba(123, 219, 130, 0.6);
}

.form-control:hover {
    border-color: #67b66c;
}

.btn:focus, .btn:active:focus {
    outline: none;
}
.navbar-title{
    background-image: unset;
}

#kc-locale-dropdown {
    display: none;
}
