/* Main content */

.pf-m-primary {
    background-color: #41a045;
    background-image: linear-gradient(to bottom, #6cbf71 0%, #41a045 100%);
    border-color: #6cbf71;
}

.pf-m-primary:hover {
    background-color: #3c9440;
    background-image: linear-gradient(to bottom, #64b169 0%, #3c9440 100%);
    border-color: #64b169;
}

.pf-m-primary[disabled] {
    background-color: #ddd !important;
}

a {
    color: #3c9440;
}
